@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Itim', cursive;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    /* background-image: url(/img/dark.jpg) */
}

.header{
    margin: 0%;
    background-color: #171616;
    display: flex;
    justify-content: space-between; 
}

.header .logo a{
    color: aliceblue;
    font-size: 25px;
}

.logo .hero-0{
    align-items: center;
    padding: 10px;
    font-size: 55px;
    color: #21E6C1;
}

nav{
    margin-top: 15px;
}
.nav ul{
    display: flex;
}
.nav ul li a { 
    padding: 10px;
    text-decoration: none;
    margin-right: 40px;
    color: white;
    font-size: 25px;
    transition: all 150ms ease-in-out;
  }

.nav    a:hover{
    color: #21E6C1;
    transform: translateY(-5px);
}

nav .fa-solid{
    color: aliceblue;
    display: none;
}

.hero-2{
    color: #21E6C1;
}


/* summary */

.summary{
    margin-top: 100px;
    padding: 20px;
}

.row{
    display: flex;
}

.column{
    width: 100%;
    height: 62vh;
    text-align: center;
}

.column p{
 color: aliceblue;
 font-size: 140px;
}

.column .hero{
    padding-left: 30p;
    color: #21E6C1;
}

.column h5{
    color: aliceblue;
    font-size: 30px;
    letter-spacing: 2px;
}


/* aboutme */

.aboutme{
    margin-top: 50px;
    width: 90%;
}

.aboutme-col-1 img{
    padding: 30px;
    border-radius: 7px;
    background-color: rgb(19, 19, 19);
    width: 650px;
    margin-top: 25px;
    margin-left: -20px;
}

.aboutme-col-2{
    margin-left: 50px;
    padding: 15px;
    color: aliceblue;
}

.aboutme-col-2 h2{
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 3rem;
    text-align: center;
}
.aboutme-col-2 p{
    line-height: 1.5rem;
}

.tab-title{
    display: flex;
    margin: 20px 0  40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background: #21E6C1;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
width: 50%
}

.tab-links.active-links::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #21E6C1;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
.hero-3{
    color: #21E6C1;
}

/* my service */

.myservice{
    margin-top: 90px;
}

.myservice h2{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}

.myservice-col{
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    background: rgb(19, 19, 19);
    transition: 0.5s, transform 0.5s;
}

.myservice-col a{
    line-height: 3rem;
    color: aliceblue;
    text-decoration: none;
}

.myservice h1{
    line-height: 3rem;
    font-size: 25px;
    color: white;
    letter-spacing: 1.5px;
}



.myservice-col p{
    color: aliceblue;
}

.row i{
    font-size: 40px;
    color: white;
    line-height: 4rem;
}

.myservice .row{
    justify-content: space-between;
    padding: 40px;
    margin: 20px;
}

.myservice-col:hover{
    background: #21E6C1;
    transform: translateY(-10px);
}

/* my work */
#portfolio{
    padding: 50px 30px;
}

.container h1{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #21E6C1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    color: aliceblue;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 -10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
height: 100%;
}

.layer h3{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 20px;
}

.layer a{
margin-top: 20px;
    background: white;
    height: 40px;
    width: 60px;
    border-radius: 50%;
    padding-top: 20px;
    color: #21E6C1;
    font-size: 20px;

}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #21E6C1;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    font-size: 20px;
    letter-spacing: 2px;
    transition: background 0.5s;
}

.btn:hover{
    background: #21E6C1;
}


/* contact */
#contact-me{
    padding: 50px;
}
#contact-me .row{
    padding: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
}
#contact-me .contact{
    color: #fff;
}

.contact h3{
    font-size: 40px;
}

.contact span i{
    color: #21E6C1;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 20px;
}

.social-icons i{
 font-size: 25px;
 margin-left: 10px;
 margin-bottom: 20px;
}

.social-icons i:hover{
    color: #21E6C1;
}

.row .btn-2{
    background: #21E6C1;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #21E6C1;
    padding: 10px 30px;
    border-radius: 7px;
}

.contact-right form{
   width: 100%;
}

.form input, .form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.form .btn-2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    height: 40px;
    align-items: center;
    color: #fff;
    padding-top: 20px;
    word-spacing: 3px;
    text-align: center;
    background: #262626;
}



@media only screen and (max-width:1100px) {
    html,body{
        scroll-behavior: smooth;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
 
.nav ul li{
    font-size: 20px;
    padding: 25px;
    display: block;
}

nav .fa-solid{
    display: block;
    font-size: 20px;
    padding: 20px;
}

.nav ul{
    flex-direction: column;
}
.nav{
    position: fixed;
    background: #21E6C1;
    width: 200px;
    height: 100vh;
    top:0;
    right:-200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
    .row{
        margin-top: -60px;  
        margin-bottom: -100px;
    }

    .column{
        height: 30vh;
    }

    .column p{
        font-size: 55px;
    }

    .column h5{
        font-size: 18px;
    }

    .aboutme .row{
        flex-direction: column-reverse;
    }
     
    .aboutme-col-2{
        margin-left: 9px;
    }

    .aboutme-col-1 img{
        display: none;
    }

    .myservice h2{
        margin-left: -50px;
    }
    
    .myservice .row{
        margin-left: 10px;
    }

    .myservice-col{
        margin-bottom: 30px;
        width: auto;
    }

    #contact-me .row{
    margin-left: -90px;
    }

}